/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Oswald, Montserrat;
    background-color: #111;
    color: #fff;
    line-height: 1.5;
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #111;
    color: white;
}



/* HERO */

.hero {
    height: 90vh;
    background-image: url('img/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
}

.hero-text {
    margin-top: 120px;
    padding: 60px;

}

.musicology {
    font-size: 5rem;
    margin-bottom: 15px;

}

.hero p {
    margin-bottom: 20px;
}


/* BOTÓN */
.btn {
    background-color: #ff6a2c;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
}

/* SECCIONES */
.SECCION1,
.SECCION2 {
    padding: 80px;
    text-align: center;


}

.SECCION1 {
    background-color: #ff6a2c;



}

.SECCION2 {
    background-color: #222;

}

.SECCION1 h2,
.SECCION2 h2 {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 50px;
}

.tour-text {
    max-width: 600px;
    margin: 0 auto 40px;

}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;


}

.card {
    background-color: #ff6a2c;
    padding: 0;
    margin: 30px;
    width: 300px;
    height: 420px;
    padding: 20px;
    overflow: hidden;
    /* recorta la imagen */
    border-radius: 4px;

}

.pricing {
    background-color: #222;
    text-align: center;
    padding: 80px 100px;
    color: white;
}

.section-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.section-description {
    max-width: 600px;
    margin: 0 auto 40px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
}

.pricing-card {
    background-color: #f26522;
    padding: 30px;
    width: 250px;

}

.pricing-card img {
    width: 80px;
    margin-bottom: 30px;
}

.price-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
}


.card img {
    width: 300px;
    height: 300px;
    /* todas iguales */
    object-fit: cover;
    /* no se deforman */
    display: block;

}

.card-info {
    width: 300px;
    height: 300px;
    background: #2a2a2a;
    padding: 10px;
    color: white;
    text-align: center;

}

.card h3 {
    margin-bottom: 6px;
    padding: 0px;
}

.card-info p {
    font-size: 18px;
    color: #bdbdbd;
}

/* BOTÓN PRECIO */
.price-btn {
    margin-top: 15px;
    padding: 10px;
    width: 90%;
    border: none;
    background-color: #111;
    color: #fff;
    cursor: pointer;
    font-size: medium;
}

/* FOOTER */
.footer-content {
    background-color: #ff6a2c;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}